.manage-roles-container td {
	padding: 10px 10px;
}

.manage-roles-container .fst-row {
	width: 200px;
}

.manage-roles-container span {
	font-size: 16px;
	color: #222;
	font-family: Arial;
}

.manage-roles-container input {
	width: 100%;
}

.manage-roles-container table button {
	width: 100%;
}

.manage-roles-container .new-btn {
	border: none;
	background: #666;
	color: #eee;
	font-size: 16px;
	padding: 10px 30px;
}