<div class="cover manage-roles-container">

	<table>
		<tr ng-repeat="r in models.roles">
			<td class="fst-row">
				<span ng-if="!r.edit">{{ r.name }}</span>
				<input ng-if="r.edit" ng-model="models.rNewName">
			</td>
			<td>
				<button ng-if="r.edit" ng-click="methods.updateRole(r.id);">Save</button>
				<button ng-if="!r.edit" ng-click="r.edit=true;models.rNewName=r.name;">Rename</button>
			</td>
			<td>
				<button ng-if="r.edit" ng-click="r.edit=false;">Cancel</button>
				<button ng-if="!r.edit" ng-click="methods.disableRole(r.id)">Disable</button>
			</td>
		</tr>
		<tr ng-if="models.showAddForm">
			<td class="fst-row">
				<input ng-model="models.nRoleName">
			</td>
			<td>
				<button ng-click="methods.createRole()">Add</button>
			</td>
			<td>
				<button ng-click="methods.hideAddForm()">Cancel</button>
			</td>
		</tr>
	</table>
	<button
		class="new-btn"
		ng-if="!models.showAddForm"
		ng-click="methods.showAddForm()"
	>New</button>

</div>