.users-registered .inputs-container {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 60px;
	top: 0px;
}

.users-registered .inputs-container input {
	float: left;
	border: none;
	background: #fff;
	color: #333;
	font-size: 18;
	text-align: center;
	width: calc( 100% - 100px );
	height: 100%;
}

.users-registered .inputs-container button {
	float: left;
	border: none;
	background: #222;
	color: #eee;
	font-size: 18;
	width: 100px;
	height: 100%;
}

.results-container {
	position: absolute;
	left: 0px;
	top: 60px;
	width: 100%;
	height: calc( 100% - 60px );
	overflow: auto;
}
.results-container table {
	width: 100%;
	font-family: Arial;
}
.results-container th {
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
	color: #aaa;
}
.results-container td {
	text-align: center;
	padding: 10px;
	font-size: 18px;
	color: #222;
}

.load-more-btn {
	width: 100%;
	padding: 15px 0px;
	border: none;
	background: none;
	font-size: 16px;
	color: #333;
	cursor: pointer;
	background: #ddd;
}
.load-more-btn:focus {
	outline: none;
}